<div class="container-fluid block-row flex-row content-text">
        <div class="row width100">
            <div class="col-sm brim_0_15 text-center logo404">
                <h1>404</h1>
            </div>
           <div class="col-sm brim_0_15 text-center descr404" > 
	            <h2>Страница не найдена</h2>
	       </div>
        </div>
    </div>	
	