<h1>Оферта о предоставлении услуг</h1>
<div class="content-text">
<ol>
    <li>
        <span>Оферта адресована клиентам — юридическим и физическим лицам.</span>
    </li>
    <li> 
        <span>Список услуг, оплата и сроки выполнения работ согласовываются с Исполнителем:</span>
        <ul>
            <li>
                <span>
                    по электронной почте 
                    <a href="mailto:wellwebline@gmail.com"> 
                        wellwebline@gmail.com 
                    </a>
                </span>
            </li>
            <li>
                <span>
                    на сайте 
                    <a href="/"> 
                        сайт 
                    </a>
                </span>
            </li>
        </ul>
    </li>
    <li>
        Исполнитель не платит НДС, так как является плательщиком налога на профессиональный доход.
    </li>
    <li>
        Исполнитель на каждую выплаченную ему Заказчиком сумму обязуется передать заказчику чек, сформированный при расчете за услуги, согласованные по п.2 настоящей афферты.
    </li>
    <li>
        В случае снятия Исполнителя с учета в качестве плательщика налога на профессиональный доход он обязуется сообщить об этом заказчику письменно, в течении 3-х дней с даты снятия с учета.
    </li>
    <li>
        <span>Термины и определения оферты.</span>
        <ol class="clear-num">
            <li>
                6.1.  В настоящем документе и вытекающих или связанным с ним отношениях Сторон применяются следующие термины и определения:
            </li>
            <li>
                <ol>
                    <li>
                        6.1.1. Публичная оферта / Оферта – текст настоящего документа со всеми приложениями, изменениями и дополнениями к нему, размещенный на Сайте Исполнителя и доступный в сети Интернет по адресу: <Site>
                    </li>
                    <li>     
                        6.1.2. Договор – договор на предоставление услуг между Исполнителем и Заказчиком на условиях настоящей Оферты.
                    </li>
                </ol>
        </li>
        </ol>
    </li>
    <li>
        Договор считается заключённым в случае если Исполнитель и Заказчик пришли к соглашению по п.2 текущей оферты
    </li>
    <li>
        Исполнитель и клиенты не подписывают акты. Оплата подтверждает качество услуг.
    </li>
    <li>
        Исполнитель не несет  ответственность за последствия, возникшие в результате использования рабочего кода.
    </li>
    <li>
        Клиенты самостоятельно оформляют и передают исполнителю все необходимые документы. 
    </li>
    <li>
        Если клиенты не передали запрошенные документы, договор приостанавливает действие.
    </li>
    <li>
        Переписка по электронной почте:
        конфиденциальна;
        имеет силу простой электронной подписи.
    </li>
    <li>
        Исполнитель вправе рекламировать себя, рассказав об услугах на своём сайте.
    </li>
    <li>
        Авторское право на рабочий код принадлежит его разработчику. 
    </li>
    <li>
        Рабочий код проекта передается Клиенту в рамках оказания согласованной услуги, на правах   
        <a href="https://www.gnu.org/licenses/gpl-3.0.html">
            Стандартная общественная лицензия GNU (GPL) 
        </a>
         
    </li>
    <li>
        Права требования уступке не подлежат.
    </li>
    <li>
        Досудебный порядок урегулирования споров в течение 30 дней обязателен.
    </li>
    <li>
        Подсудность неурегулированных споров — в арбитражном суде / суде общей юрисдикции по месту проживания или регистрации ответчика.
    </li>
</ol>
</div><!--/content-text-->
