<div class="main-menu">
    <div class="">
        <ul class="navig_line">
            <li class="{$class_hide_message}">
                <a href="/message">
                    <i class="fa fa-briefcase"></i>Обсудить сотрудничество
                </a>
            </li>
            <li class="hide">
                <a href="/offer">
                    <i class="fa fa-gg"></i>Оферта
                </a>
            </li>
        </ul>
    </div>
</div>
