    
body {
    background-color: var(--main-bg-color);
}

h1 { 
    display: inline; 
    text-align: center;
    width: 100%;
    position: relative;
    color: var(--main-std-color);
}

.header_top {
    width: 100%;
    position: fixed;
    top: 0px;
    margin: auto;
    z-index: 100;
    background-color: var(--main-bg-color);
    opacity: 0.9;
}


.block-row {
    max-width: 1140px;
    margin: 0 auto;
}

.indent-left {
    padding-inline-start: 15px;         
}
.indent-rigth {
    padding-inline-end: 15px;    
}

.hide {
    display: none !important;
}

.header {
    border-bottom: 2px solid var(--main-border-color);
    padding: 7px 0px 0px 0px;
}

.mg-tp-6 {
    margin-top: 6px !important;
}
.font-20 li a{
    font-size: 20px !important;
}
.font-20 li {
    font-size: 20px !important;
}
.width100 {
    width: 100% !important;
}

.row {
    margin: 0px !important;
}

.form-message {
    margin-top: 35px;
    background-color: var(--main-bg-color);
    z-index: 1;
}

.form-button {
    padding: 0px;
    margin-left: 15px;
}

.form-message .form-control, .form-message button {
    border-radius: 10px;
}

.form-message textarea {
    height: 9.1em !important;
}

.form-message .button {
    overflow: hidden !important; 
} 

.form-message button {
    padding: 5px 45px;  
    background: transparent;
    color: var(--main-attn-color);

    border-bottom-color: var(--main-st-color);
    outline: none;
    overflow: hidden !important; 
    transition:all .2s ease-in-out;
    z-index: 1; 
    letter-spacing:-.5px;
    position: relative;
} 

.form-message .button {
    margin-top: 30px !important;
}

.form-message input, .form-message textarea {
    font-size: 18px;
    color: var(--main-std-color);
}

.form-message input::placeholder, .form-message textarea::placeholder {
    color: var(--top-attn-color); 
}

.form-message input:focus, .form-message textarea:focus {
    box-shadow: inset 0 1px 1px transparent,0 2px 3px var(--top-attn-color);
}

.form-message input.error:focus, .form-message textarea.error:focus {
    box-shadow: inset 0 1px 1px transparent,0 2px 3px var(--form-error-color);
}
.form-message input.error, .form-message textarea.error {
    border-color: var(--form-error-color) !important;        
}
div.error {
    color: var(--form-error-color) !important;    
}

.green {
    color: var(--form-message-color) !important;    
}

.form-message  button:before {
    background: var(--top-attn-color);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    transition: transform .3s;
    transition-timing-function:cubic-bezier(.75,0,.125,1)
}
.form-message  button:hover {
    color: white;
    transition-delay: .2s; 
}

.form-message  button:after {
    background: var(--main-border-color);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    transition: transform .3s;
    transition-timing-function: cubic-bezier(.75,0,.125,1);
}


.form-message  button:hover:after, .form-message  button:hover:before {
    transform: translate3d(0,100%,0);
    
}
.form-message  button:hover:after {
    transition-delay: .2s;
}

.logo404 {
    
}

.logo404 h1{
    font-size: 250px;
    color: white;
    text-shadow: 0 0 35px rgba(0, 1, 0, 0.4);
}

.descr404 {
    position: relative;
}
.descr404:before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    background: var(--top-attn-color);
    top: 0;
    left: 0;    
}

.descr404 h2{ 
    font-size: 35px;
    height: 35px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0px; 
    color: var(--top-attn-color);    
}

.logo {
    height: 45px;
}
  
.logo:before {
    background: url(../img/dagaz.png) no-repeat;
    content: "";
    position: absolute;
    min-height: 40px;
    min-width: 50px;
}


.logo a{
    text-decoration: none;    
}

.logo .logo-web {
    margin-left: 40px;    
}

.logo span {
    font-family: 'Myriad Pro'; 
    font-size: 35px; 
    color: var(--main-border-color); 
    font-weight: normal; 
    line-height: 35px; 
    font-style: italic;
    font-weight: bold;     
}

.logo .logo-web {
    font-size: 46px; 
}
.logo-development {
    font-size: 30px;
    margin-inline-start: 0.3em;         
}

.navig_line {
    display: block;
    list-style-type: disc;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    
}
.navig_line li {
    display: inline-block;
    font-family: 'Myriad Pro'; 
    font-size: 18px;
    color: var(--main-std-color);
    font-weight: normal;
    margin-inline-start: 1em;
    margin-inline-end: 0px; 
    overflow: hidden; 
    padding: 2px 18px 2px 0px;
}

.navig_line li a {
    color: var(--main-border-color); 
    display: block;
    margin: 0;
    text-decoration: none;
}

.navig_line li:hover a {
    color: var(--main-std-color);     
}

.header-top__nav {
    display: block;
    list-style-type: disc;
    margin-block-start: 6px; 
    margin-block-end: 0px; 
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.header-top__nav li { 
    display: inline-block;
    font-family: 'Myriad Pro';  
    font-size: 18px;
    color: var(--main-std-color);
    font-weight: normal;
    padding-right: 1em;
    overflow: hidden;
}

.header-top__nav a {
    color: var(--top-brigth-color); 
    display: block;
    margin: 0;
}

.header-top__nav a:focus, .header-top__nav a:active, .header-top__nav a:hover {
    color: var(--main-std-color);
    text-decoration: none;
}

.main-menu {
    display: block !important;
    position: relative !important;
    float: right !important;
}
.top i, .main-menu i {
    margin-right: 0.6em;
}

.navig_line li {
    outline:none;
    position:relative;
    border-radius: 2px;
    transition:all .2s ease-in-out; 
    letter-spacing:-.5px;
    z-index:1;
    margin-block-start: 2px; 
    margin-inline-start: 0em;
    margin-inline-end: 0em; 
}

.navig_line li a {
    padding: 3px 0px 3px 1em;
    color: var(--main-attn-color); 
    text-decoration: none;
}
/*
.top-accent:hover {
    background-color: var(--main-border-color);    
}
*/
.navig_line li:hover a {
    color:  var(--top-brigth-color); 
    transition-delay: 0.3s; 
} 

.navig_line li:before {
    background: var(--top-attn-color);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    transition: transform .3s;
    transition-timing-function:cubic-bezier(.75,0,.125,1)
}

.navig_line li:after {
    background: var(--main-border-color);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    transition: transform .3s;
    transition-timing-function: cubic-bezier(.75,0,.125,1);
}

.navig_line li:hover:after, .navig_line li:hover:before {
    transform: translate3d(0,100%,0);
}
.navig_line li:hover:after {
    transition-delay: .2s;
}

.main-header__nav {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.main-header__nav li { 
    display: inline-block;
    font-family: 'Myriad Pro'; 
    font-size: 24px;
    color: var(--main-std-color); 
    font-weight: bold;
    overflow: hidden;
}   

.top {
    background: var(--top-attn-color);
    border-bottom: 1px solid var(--main-st-color); ;
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 0px;
    font-weight: 400;
}

.flex-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
}

.clear-num li {
    list-style-type:  none;   
}

.main-container {
    padding: 30px 15px;    
}

.top-container {
    padding: 30px 15px 0px 15px;    
}

.container {
    padding: 15px;    
}

.heading_title {
    margin-bottom: 40px;
}

.content-text {
    font-family: 'Myriad Pro'; 
    font-size: 20px; 
    padding: 20px 0px;
    color: var(--main-std-color);
}

.content-text ol{
    padding-top: 15px;
}
.content-text li{
    padding-bottom: 10px;
}

.content-text a {
    text-decoration: none;
    font-family: 'Myriad Pro';  
    color: var(--main-border-color);
}

.content-text a:hover { 
    color: var(--main-attn-color);
}

.color-st-text {
    color: var(--main-std-color) !important;    
}
a.color-st-text:hover {
    color: var(--main-border-color) !important;    
}

.color-bg-1 {
    background-color: white !important;
}

.bx-skill {
    padding: 5px 15px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

