.main-header__nav {
    padding: 0;
    margin: 0 -19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin-right: auto;
    margin-left: 100px;
}